<fieldset>
    
    <legend>Product</legend>
    <form action="/users/product" method="post">
        <div>
            <label>ProductId:</label>
            <input type="text" name="productid"/>
        </div>
        <div>
            <label>ProductName:</label>
            <input type="text" name="productname"/>
        </div>
        <div>
            <label>ProductDescription:</label>
            <input type="text" name="productdescription"/>
        </div>
        <div>
            <label>ProductQuantity:</label>
            <input type="text" name="productquantity"/>
        </div>
        <div>
            <label>ProductPrice:</label>
            <input type="text" name="productprice"/>
        </div>
        <div>
            <input type="submit" value="submit"/>
        </div>
    </form>
</fieldset>